{% load i18n admin_static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} ng-app="app">
<head>
<title>{% block title %}{% endblock %}</title>
 <script type="text/javascript" src="{% static "admin/js/angular.min.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/js/angular-animate.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/js/angular-route.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/app/controller.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/app/app.js" %}"></script>
 <script type="text/javascript" src="{% static "admin/js/Chart.min.js" %}"></script>
<!--<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />-->
<link href="{% static "admin/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "admin/font-awesome/css/font-awesome.css" %}" rel="stylesheet">
<link href="{% static "admin/css/animate.css" %}" rel="stylesheet">
<link href="{% static "admin/css/style.css" %}" rel="stylesheet">
<link href="{% static "admin/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
<link href="{% static "admin/css/plugins/steps/jquery.steps.css" %}" rel="stylesheet">
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup mini-navbar{% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {% if has_permission %}
                    <li class="nav-header">
                    {% block usertools %}
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">{% firstof user.get_short_name user.get_username %}</strong>
                                    </span>
                                    <span class="text-muted text-xs block">
                                        Opciones <b class="caret"></b>
                                    </span>
                                </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
                                <li class="divider"></li>
                                <li> <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                            </ul>
                        </div>
                    {% endblock %}
                {% endif %}
                    <div class="logo-element">
                        AR+
                    </div>
                </li>
                {% block main_menu %}
                    {% if adm_app_list %}
                    {% for app in adm_app_list %}
                    <li class="app-{{ app.app_label }}" >
                        <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                            <i class="fa fa-edit"></i><span class="nav-label">{{ app.name }}</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            {% for model in app.models %}
                                <li>{% if model.admin_url %}<a href="{{ model.admin_url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        {% if has_permission %}
            {% block usertools_rigth %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            {% block welcome-msg %}
                                <span class="m-r-sm text-muted welcome-message">{% trans 'Welcome,' %} {% firstof user.get_short_name user.get_username %}.</span>
                            {% endblock %}
                        </li>
                        {% block userlinks %}
                            <li>
                                {% if site_url %}
                                    <a href="{{ site_url }}">{% trans 'View site' %}</a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="{% url 'admin:logout' %}">
                                    <i class="fa fa-sign-out"></i> {% trans 'Log out' %}
                                </a>
                            </li>
                        {% endblock %}
                    </ul>
                </nav>
            </div>
            {% endblock %}
        {% endif %}
        {% if  title %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-8">
                    <h2><a href="{% url 'admin:index' %}">{{ title|default:site_header }}</a></h2>
                    {% if not is_popup %}
                        {% block breadcrumbs %}
                        <ol class="breadcrumb">
                            <li>
                                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                            </li>
                            <li class="active">
                                <strong> {% if title %} {{ title }}{% endif %}</strong>
                            </li>
                        </ol>
                        {% endblock %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div class="title-action">
                        {% block object-tools %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="wrapper wrapper-content ">
            {% block messages %}
                {% if messages %}
                   {% for message in messages %}
                        <div class="alert  alert-dismissable alert-{% if message.tags %}{{ message.tags }}{% endif %}" >
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message|capfirst }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
            {% block pretitle %}{% endblock %}
            {% block content %}
                {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <div class="clearfix" ></div>
        </div>
        {% block footer %}
            <div class="footer">
                <div>
                    <strong>Copyright</strong> Arrimo
                </div>
            </div>
        {% endblock %}
    </div>
</div>
    <!-- Mainly scripts -->

    <script src="{% static "admin/js/jquery-2.1.1.js" %}"></script>
    <script src="{% static "admin/js/plugins/staps/jquery.steps.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "admin/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

    <!-- Data picker -->
    <script src="{% static "admin/js/plugins/datapicker/bootstrap-datepicker.js" %}" ></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "admin/js/inspinia.js" %}"></script>
    <script src="{% static "admin/js/plugins/pace/pace.min.js" %}"></script>
    <script src="{% static "admin/js/plugins/validate/jquery.validate.min.js" %}"></script>
    {% block extrascript %}

    {% endblock %}
</body>
</html>
