{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <style>
        .errorlist{
            list-style: none;
        }
    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block class_page_wp %}{% endblock %}



{% block content %}
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Grafico de Entradas Mensuales</h5>
            </div>
            <div class="ibox-content">
                <div class="pull-right">
                    <span style="display: inline-block;background: #243747;height: 10px; width: 10px;border: 1px solid #000;"></span> Descuentos
                    <span style="display: inline-block;background: #0033cc;height: 10px; width: 10px;border: 1px solid #000;"></span> Pagado
                    <span style="display: inline-block;background: #1ab394;height: 10px; width: 10px;border: 1px solid #000;"></span> Directivos
                </div>
                <canvas id="chart" class="col-lg-12"></canvas>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascript %}
 <script>
	var options = {
		scaleLabel:function(label){return  'RD$' + label.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
	};
      $(document).ready(function(){
          $.ajax(
              {
                url:'/reg/graph/',
                success: function(result){
                    var ctx = document.getElementById("chart").getContext("2d");
                    var data = {
                        labels:  result.labels,
                        datasets: [
                            {
                                label: "Descuentos",
                                fillColor: "rgba(36, 55, 71,0.5)",
                                strokeColor: "rgba(36, 55, 71,0.8)",
                                highlightFill: "rgba(36, 55, 71,0.75)",
                                highlightStroke: "rgba(36, 55, 71,1)",
                                data: result.series_1
                            },
                            {
                                label: "Pagado",
                                fillColor: "rgba(0, 51, 204,0.5)",
                                strokeColor: "rgba(0, 51, 204,0.8)",
                                highlightFill: "rgba(0, 51, 204,0.75)",
                                highlightStroke: "rgba(0, 51, 204,1)",
                                data: result.series_2
                            },
                            {
                                label: "Directivos",
                                fillColor: "rgba(26,179,148,0.5)",
                                strokeColor: "rgba(26,179,148,0.8)",
                                highlightFill: "rgba(26,179,148,0.75)",
                                highlightStroke: "rgba(26,179,148,1)",
                                data: result.series_3
                            }
                        ]
                    };
                    var chart = new Chart(ctx).Bar(data, options);

                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
              }
          );
      });
  </script>
{% endblock %}
{% block sidebar %}
<div class="col-lg-3 pull-right">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{% trans 'Recent Actions' %} <small>{% trans 'My Actions' %}</small></h5>
        </div>
        <div class="ibox-content inspinia-timeline">
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                {% for entry in admin_log %}
                     <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa {% if entry.is_addition %}fa-plus{% endif %}{% if entry.is_change %}fa-pencil{% endif %}{% if entry.is_deletion %}fa-times{% endif %}">
                                </i>
                                <small class="text-navy">{{entry.action_time|date:"M d, Y H:i" }}</small>
                            </div>
                            <div class="col-xs-7 content no-top-border">
                                <p class="m-b-xs">
                                    <strong>
                                        {% if entry.content_type %}
                                            <small>{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</small>
                                        {% else %}
                                            {% trans 'Unknown content' %}
                                        {% endif %}
                                    </strong>
                                </p>
                                <p>
                                    {% if entry.is_deletion or not entry.get_admin_url %}
                                        <small>{{ entry.object_repr }}</small>
                                    {% else %}
                                        <a href="{{ entry.get_admin_url }}"><small>{{ entry.object_repr }}</small></a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
