
{% load i18n admin_static cdv_tags %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<style>
    .calendarbox, .clockbox {
        /* Make sure the calendar widget popover displays in front of the sidebar */
        z-index: 1100;
        margin-left: -251px;
    }
    .datetimeshortcuts {
        /* Hide "|" symbol */
        font-size: 0;
    }
    .datetimeshortcuts a:before{
        /* Restore deleted spaces */
        content: " ";
    }
    .datetimeshortcuts a{
        /* Make text for "Today" a bit smaller so it appears on one line. */
        font-size: 7pt;
    }
</style>
<form method="GET" action="" class="form-horizontal">
    <div class="form-group col-lg-12">
         <div class="input-group date">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            {{ spec.form.arrive_date__gte|add_class:'form-control' }}
         </div>
    </div>
    <div class="form-group col-lg-12">
        <div class="input-group date">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            {{ spec.form.arrive_date__lte|add_class:'form-control' }}
        </div>
    </div>
    <p class="submit-row">
        <input type="submit" value="{% trans "Search" %}" class="btn btn-primary">
        <input type="reset" value="{% trans "Clear" %}" class="btn ">
    </p>
</form>
